{%  block asideLeft %}
    <aside class="single_sidebar_widget author_widget">
        <img class="author_img rounded-circle" src="/Templates/theme_bootstrap/img/personal1.jpg" alt="" style="width: 100%">
        <h4>Jérémy Bouvier</h4>
        <p>Futur Développeur d'application PHP/Symfony  </p>
        <div class="social_icon">
            <a href="https://www.facebook.com/jeremy.bouvier.522"><i class="fa fa-facebook"></i></a>
            <a href="https://github.com/jeremybouvier"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/jeremy-bouvier"><i class="fa fa-linkedin"></i></a>
        </div>
        <p class="text-justify">Durant toutes mes années d'étude, j'ai codé dans divers langages de programmation (Pascal, C,Assembleur...)
            et participé également à plusieurs projets embarqués. Aujourd'hui le monde du web devient incontournable,
            c'est pourquoi je suis actuellement une formation de Développeur d'application PHP/Symfony sur
            Openclassrooms.</p>
        <div class="br"></div>
    </aside>
    <aside class="single_sidebar_widget post_category_widget">
        <h4 class="widget_title">Categories</h4>
        <ul class="list cat-list">
            {% for categories in CategoryList %}
                <li>
                    <a href="/listPost/{{ categories.id }}" >{{ categories.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock %}
