{% block commentform %}

    <form method="post">

            <div class="form-group">
                <textarea class="form-control mb-10" rows="5" name="commentText" placeholder="{{ displayError.commentText }}"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" class="primary-btn submit_btn" value="Poster votre commentaire">
            </div>


    </form>

{% endblock %}
