{% block commentform %}

    <h3>Laissez un commentaire</h3>

    <form class="col-12" method="post" >
        <div class="form-group">
            <label for="comment">Votre commentaire</label>
            <textarea class="form-control" id="comment" name="commentText" rows="5"></textarea>
        </div>
        <input type="submit" value="Envoyer" >
    </form>

{% endblock %}
