{% extends '/layout/default.twig' %}
{% block content %}
    <section class="home_banner_area">

        <div class="container box_1620">
            <h1 class="mb-30 title_color text-center">Edition de l'article</h1>

            <div class=" comments-area">
                {% include 'postForm.twig' %}
            </div>
        </div>

    </section>
{% endblock %}
