{% extends '/layout/default.twig'%}

{% block content %}
    <!--================ Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="container box_1620">
            <div class="banner_inner d-flex align-items-center">
                <div class="banner_content">
                    <div class="media">
                        <div class="d-flex">
                            <img src="../Templates/theme_bootstrap/img/personal.jpg" alt="" style="box-shadow: 4px 4px 10px darkslategray">
                        </div>
                        <div class="media-body">
                            <div class="personal_text">
                                <h6 >Mes compétences au service <br/>de vos idées ... </h6>
                                <h3>Jérémy Bouvier</h3>
                                <h4>Developpeur d'application PHP / Symphony </h4>
                                <p class="text-justify">
                                </p>
                                <ul class="list basic_info">
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i> 12 Février 1982</a></li>
                                    <li><a href="phone: 0671729884"><i class="lnr lnr-phone-handset"></i> +33 6.71.72.98.84</a></li>
                                    <li><a href="emailto: jeremybouvier2b@gmail.com"><i class="lnr lnr-envelope"></i> jeremybouvier2b@gmail.com</a></li>
                                    <li><a href="#"><i class="lnr lnr-home"></i>106 Impasse des cedres 20290 BORGO</a></li>
                                </ul>
                                <ul class="list personal_social">
                                    <li><a href="http://facebook.com/jeremy.bouvier.522"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://github.com/jeremybouvier"><i class="fa fa-github"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/jeremy-bouvier"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Welcome Area =================-->
    <section class="welcome_area p_120">
        <div class="container">
            <div class="row welcome_inner">
                <div class="col-lg-6">
                    <div class="welcome_text">
                        <h4>A propos de moi</h4>
                        <p>Durant toutes mes années d'étude, j'ai codé dans divers langages de programmation
                            (Pascal, C,Assembleur...) et participé également à plusieurs projets embarqués. Aujourd'hui
                            le monde du web devient incontournable, c'est pourquoi je suis actuellement une formation
                            de Développeur d'application PHP/Symfony sur Openclassrooms. Mes différentes expériences
                            professionnelles mon permis d'acquérir les aptitudes requises au travail en équipe néanmoins
                            je suis capable de suivre un projet complet de façon autonome. De nature créatif et
                            dynamique, je suis tout à fait à l'aise sur un developpement Front ou Backend.
                        </p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="tools_expert">
                        <div class="skill_main">
                            <div class="skill_item">
                                <h4>MySQL <span class="counter">80</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>PHP <span class="counter">90</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>HTML & CSS <span class="counter">95</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Photoshop <span class="counter">85</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="skill_item">
                                <h4>Motivation <span class="counter">100</span>%</h4>
                                <div class="progress_br">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Welcome Area =================-->

    <!--================My Tabs Area =================-->
    <section class="mytabs_area p_120">
        <div class="container">
            <div class="tabs_inner">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Experiences professionnelles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Formation et diplome</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list">
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Nov. 2010 à Mars 2018</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>E.Leclerc</h4>
                                        <p>Adjoint de direction<br />20290 Borgo</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Oct. 2007 à Nov 2010</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>COOP</h4>
                                        <p>Adjoint de direction<br />Canton de Neuchâtel Suisse</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Juin 2006 à Oct. 2007</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>COOP</h4>
                                        <p>Responsable de rayon<br />Canton de Neuchâtel Suisse</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class="list">
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Depuis sept. 2018 </p>
                                    </div>
                                    <div class="media-body">
                                        <h4>Openclassrooms</h4>
                                        <p>Formation Developpeur PHP/Smphony<br /> 75010 Paris</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Sept. 2004 à Juin 2005</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>IUP Marseille</h4>
                                        <p>Licence Génie Electrique et Informatique Industrielle<br />13000 Marseille</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <span></span>
                                <div class="media">
                                    <div class="d-flex">
                                        <p>Sept. 2002 à Juin 2004</p>
                                    </div>
                                    <div class="media-body">
                                        <h4>IUP Marseille</h4>
                                        <p>Deug Génie Electrique et Informatique Industrielle<br />13000 Marseille</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End My Tabs Area =================-->

    <!--================Feature Area =================-->
    <section class="feature_area p_120">
        <div class="container">
            <div class="main_title">
                <h2>offerings to my clients</h2>
                <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $.17 each.</p>
            </div>
            <div class="feature_inner row">
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <a href="#"><i class="flaticon-city"></i></a>
                        <h4>Expériences et compétences</h4>
                        <p>N'hésitez pas consulter mon CV car j'ai eu un parcours atypique qui m'a permis d'aquérir
                        de nombreuses compétences tant sur le plan technique que sur le plan humain.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <a href="#"><i class="flaticon-skyline"></i></a>
                        <h4>Interior Design</h4>
                        <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in price. You may see some for as low as $17 each.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="feature_item">
                        <i class="flaticon-sketch"></i>
                        <h4>Mes Réalisations</h4>
                        <p>Venez découvrir les différents projets que j'ai réalisé, vous pourrez, ainsi, être seul juge des mes compétences</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Feature Area =================-->

{% endblock %}



