
{% extends '/templates/default.twig' %}

{% block content %}
    {% for posts in Post %}
        <div class="col-4">
            <div class="card " style="background-color: darkgray;">
                <div class="card-content p-2">
                    <h2>{{posts.title}}</h2>
                    <p>{{posts.previewText}}</p>
                </div>
                <div class="card-footer">
                    <p class="text-right"><a href="../post/{{posts.id}}" >Voir article</a></p>
                </div>


            </div>
        </div>
    {% endfor %}

{% endblock %}